<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d42n81.visionary">

    <uses-permission android:name="android.permission.CAMERA"
        android:required="true"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/visionary_launcher_with_background_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.d42n81.visionary.SettingsActivity"
            android:parentActivityName="com.d42n81.visionary.ReaderActivity"
            android:label="Settings">
        </activity>
        <activity android:name="com.d42n81.visionary.ReaderActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.d42n81.visionary.MainActivity"/>
        <activity
            android:name="com.d42n81.visionary.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.d42n81.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>